{% load static %}
{% load django_vite %}

{% vite_hmr_client %}
{% vite_asset 'js/cast_vue/main.ts' %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <title>Cast Vue Template!</title>
    <meta name="description" content="Description of Cast Vue Template">
    <!--
      Try to set all vue configuration values in one go / script:
       - blog-url is needed for vue router base url
       - data-csrf-token is needed for posting comments
       - blog-id is used for blog api detail url and posts endpoint child_of=blog.pk
       - pagination-page-size is used for pagination
       - wagtail-api-pages-url is where to fetch the posts
       - api-facet-counts-url is where to fetch the facet counts
       - post-comment-url is where to post comments
    -->
    <script id="vue-configuration"
            data-blog-url="{{ blog.url }}"
            data-csrf-token="{{ csrf_token }}"
            data-blog-id="{{ blog.pk }}"
            data-pagination-page-size="{{ blog.pagination_page_size }}"
            data-wagtail-api-pages-url="{{ request.scheme }}://{{ request.get_host }}{{ blog.wagtail_api_pages_url }}"
            data-api-facet-counts-url="{{ request.scheme }}://{{ request.get_host }}{{ blog.facet_counts_api_url }}"
            data-post-comment-url="{{ request.scheme }}://{{ request.get_host }}{{ blog.comment_post_url }}"
    >
    </script>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    {% block main %}
      <div id="app">
      </div>
    {% endblock main %}
  </body>
</html>
