{% load static %}
{% load django_vite %}

{% vite_hmr_client %}
{% vite_asset 'js/main.ts' %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <title>Cast Vue Template!</title>
    <meta name="description" content="Description of Cast Vue Template">
    <script id="vue-message" type="application/json">"Foo bar bazzzz?"</script>
    <script id="page-pk" type="application/json">{{ page.pk }}</script>
    <script id="initial-value" type="application/json">256</script>
    <script id="base-url" type="application/json">"{{ request.path }}"</script>
  </head>
  <body>
    <h1>This is still Django...</h1>
    <div id="app">
    </div>
  </body>
</html>
